# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
app/drupal/web/sites/*/*settings*.php
app/drupal/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
app/drupal/web/sites/*/files
app/drupal/web/sites/*/public
app/drupal/web/sites/*/private
app/drupal/web/sites/*/files-public
app/drupal/web/sites/*/files-private

# Ignore paths that may contain temporary files
app/drupal/web/sites/*/translations
app/drupal/web/sites/*/tmp
app/drupal/web/sites/*/cache
app/drupal/vendor
# Ignore drupal core (if not versioning drupal sources)
app/drupal/web/vendor
app/drupal/web/core
app/drupal/web/modules/contrib
app/drupal/web/modules/README.txt
app/drupal/web/profiles/README.txt
app/drupal/web/sites/development.services.yml
app/drupal/web/sites/example.settings.local.php
app/drupal/web/sites/example.sites.php
app/drupal/web/sites/README.txt
app/drupal/web/themes/contrib
app/drupal/web/themes/README.txt
app/drupal/web/.csslintrc
app/drupal/web/.editorconfig
app/drupal/web/.eslintignore
app/drupal/web/.eslintrc.json
app/drupal/web/.gitattributes
app/drupal/web/.htaccess
app/drupal/web/.ht.router.php
app/drupal/web/autoload.php
app/drupal/web/composer.json
app/drupal/web/composer.lock
app/drupal/web/example.gitignore
app/drupal/web/index.php
app/drupal/web/INSTALL.txt
app/drupal/web/LICENSE.txt
app/drupal/web/README.txt
app/drupal/web/robots.txt
app/drupal/web/update.php
app/drupal/webapp/drupal/web.config

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
